<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
    $().ready(function() {
        $('#registBtn').click(function() {
            $('registForm').attr({
                method: 'post',
                action: '/member/regist'
            }).submit();
        });
    });
  </script>
</head>
<body>
    <form id="registForm">
        <div>
            <input type="text" name="id" id="id" placeholder="ID" />
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
        <div>
            <input type="text" name="name" id="name" placeholder="Name" />
        </div>
        <div>
            <input type="button" value="Regist" id="registBtn">
        </div>
    </form>
</body>
</html>