@charset "UTF-8";

#wrapper {
	width: 500px;
	margin: 0 auto;
}

#logo {
	text-align: center;
}

.formbox {
	margin-bottom: 14px;
}

.formbox > img {
	vertical-align: middle; 
	width: 48px; 
	height: 44px;
}

input {
	vertical-align: middle; 
	width: 448px; 
	padding: 12px 0;
}

#join {
	background-color: #0074e9;
	text-align: center;
	padding: 15px 0;
	color: white;
	font-size: 19px;
	font-weight: bold;
	cursor: pointer;
}

#agreement {
	font-size: 13px;
	color: #333333;
	margin-top: 5px;
}

#agreement > .bold {
	font-weight: bold;
}

#agreement > .underline {
	text-decoration: underline;
}

#copyright {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 13px;
	color: #333333;
}

#header {
	position: relative;
	height: 24px;	
}

.box {
	display: inline-block;
	vertical-align: top;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}


