@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

body, div, input, textarea, p, select, header, aside, section, footer
, table, td, th, tr, tbody, thead, i, b, span, li, ul, ol {
	
	font-size: 9pt;
	color: #333;
	
}
div{
	font-size: 0px;
}

article div{
	font-size: 9pt;
}

* {
	color: #333;
}

h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 18px;
	font-size: 24pt;
	font-weight: bold;
}

header {
	width: 100%;
	height: 30px;
	background-color: #ff6060;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

section.inline {
	overflow-x: hidden;
	margin-top: 40px;
	width: 100%;
	
}

section.inline > aside {
	width: 200px;
	background-color: #ddd;	
	position: fixed;
	padding-top: 30px;
	padding-bottom: 150px;
	top: 30px;
	bottom: 0px;
	overflow-y: scroll; 
}

section.inline > section {
	position: relative;
	left: 200px;
	padding: 15px;
}



section.inline > aside,
section.inline > section {
	display: inline-block;
	vertical-align: top;
}

secion.inline > serction video{
	width: 300px;
	height: 250px;
	
}

footer {
	width: 100%;
	height: 150px;
	background-color: #333;
	margin-left: 200px;
	color: #eee;
}






/*********************************************************************************/

input, textarea {
	padding: 10px;
	width: 300px;
	border: 1px solid #bbb;
	border-radius: 7px;
}

form div {
	margin-bottom: 10px;
}

<!-- form에 있는 마지막 div -->
form div:last-child {
	margin-bottom: 0px;
}

#icon{
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

/*****************************************************************************
/* list layout */

.video-article{
	margin-top: 20px;
}

.video-article:first-child {
	margin-top: 0px;
}

.video-article .icon{
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

.video-article .video > .poster > img {
	width: 130px;
	height: 110px;
}

.video-article > div:first-child{
	margin-bottom: 10px;
}

.video-article .video > .title {
	font-weight: bold;
	padding: 5px 0px;	
}

.inline{
	display: inline-block;
}

.video-article .video{
	display: inline-block;
	margin-right: 10px;
}

.video-article .video article{
	width: 130px;
}

.video-article .video article > .uploader {
	
}

.video-article .video article > .upload-date {
	
}

.video-article .video article > .view-count {
	
}





























