<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $().ready(function() {
            $('$createBtn').click(function() {
                $('createRoomForm').attr({
                    action: "/chat",
                    method: "post"
                }).submit();
            })
        })
    </script>
</head>
<body>
    <% include ../common/layout/menu %>

    <h2>입장할 방을 선택해 주세요.</h2>
    <ul>
        <% for (let room of rooms) { %>
        <li><%=room.room_name%> <%room.members.length%>명</li>
        <% } %>
    </ul>

    <h2>새로운 방을 만드시겠습니까?</h2>
    <form id="createRoomForm">
        <input type="text" name="room_name" id="room_name" />
        <input type="button" id="createBtn" value="Create" />
    </form>
</body>
</html>