<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <div>
        <%= post.content %>
    </div>
    <div>
        <ul>
            <% for (let tag of post.tags ) { %>
            <span>
                <a href="/post/tag <%=tag%>">
                <%= tag %>
                </a>
            </span>
        <% } %>
        </ul>
    </div>
    <div>
        <ul>
            <% for (let file of post.files) { %>} 
        </ul>
    </div>
</body>
</html>