<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $().ready(function(){
        alert("aa");
      });

    </script>
  </head>
  <body>
    <% for (let post of postList ) { %>
    <header>
      <a href="/blog">
        <h1><%= post.title %></h1>
      </a>
    </header>
    <article class="">
      <%- post.content %>
      <%
        for ( let file of post.files ) {
      %>
          <img src="/static/uploadFiles/ <%=files%>" style="width: 56px;" />
      <%
        }
      %>
      <section>
        <% for ( let tag of post.tags ) { %>
        <span>#<%=tag%></span>
        <% } %>
      </section>
    </article>
    <% } %>
  </body>
</html>
