<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/editor/ckeditor.js" charset="utf-8"></script>
    <script type="text/javascript">
      $().ready(function(){

        ClassicEditor.create();

        $("#sendBtn").click(function(){
          $("#postForm").attr({
            action: "/blog/post",
            method: "post"
          }).submit();
        });

        $("#append-tag").click(function(){
          let tag =  $(`<input type="text" class="tag" name="tags" placeholder="Tag" style="margin-right:6px;"/>`)
          $(this).before( tag );
          tag.focus();
        });

        $(".tags").on("keydown", ".tag", function(e){
          if( e.key == "," ) {
            if ( $(this).val() != "" ){
              $("#append-tag").click();
            }
            return false;
            }
        });
      });

    </script>
  </head>
  <body>
    <form id="postForm">
      <div>
        <input type="text" id ="title" name="title" placeholder="Title" />
      </div>
      <div>
        <textarea id="content" name="content" placeholder="Content"></textarea>
      </div>
      <div>
        <input type="file" class="file"  name="file" multiple placeholder="Choose File">
      </div>
      <div class="tags">
        <input type="text" class="tag" name="tags" placeholder="Tag" />
        <input type="button" id="append-tag" value="+" />
      </div>
      <div class="">
        <input type="button" id="sendBtn" value="Save" />
      </div>
    </form>
  </body>
</html>
